{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" align="center">
    <div class="jumbotron">
<form method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
    {% endfor %}
    <input type="submit" class="btn btn-success" VALUE="Save"><br><br>
</form>

{% if messages %}
 {% for message in messages %}
  <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
 {% endfor %}
 {% endif %}
<a href="{% url 'home' %}" class="btn btn-info"> Back to Home</a>
    </div>
</div>
{% endblock %}